.firstbold{
    color: brown;
}
.custom-image-size {
    width: 5px; /* Ganti dengan ukuran yang diinginkan */
    height: auto; /* Mempertahankan rasio aspek gambar */
    border-radius: 50%; /* Jika ingin gambar berbentuk lingkaran */
}


.doctor-name {
    font-size: 18px; /* Ganti ukuran sesuai kebutuhan */
    font-weight: bold; /* Jika ingin huruf tebal */
    color: rgb(24, 0, 235);
}



.o_dashboard {
    padding: 20px;
    background-color: #f9f9f9;
}

.o_column {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.o_action_button {
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.o_action_button:hover {
    background-color: #0056b3;
}
